page-attached-images {
    
    .label {
        padding: 0px,0px,0px,0px !important;
        margin: auto !important; 
    }
    .item-md {
        padding-left: 0px!important;
        margin: auto !important; 
    }
    .item-md.item-block .item-inner{
        padding-right: 0px!important;
    }
    
    
}

