<ion-header>
  <ion-navbar>
    <ion-title>Cotizar</ion-title>
    <ion-buttons end ><button ion-button (click)="close()">
      <ion-icon name="close" style="color:white"></ion-icon>
    </button></ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-card class="company-Name">
    <h2>{{slctdProvider.company_name}}</h2>
  </ion-card>
  <spinner [data]="params.data" *ngIf="spinner"></spinner>
  <ion-list class="login-List"> 
  
    <form id="requestForm" [formGroup]="requestForm" (ngSubmit)="onSubmit(requestForm.value)">    
        
      <ion-item  class="login-Class" *ngIf="broadcast" > 
        <ion-label for="service" style="color:rgb(146, 145, 145) !important" no-padding>Servicio</ion-label>
          <ion-select id="service" [formControl]="requestForm.controls['service']" 
          placeholder="Selecciona un servicio" 
          cancelText="Atras">
            <ion-option *ngFor="let mainService of mainServices" [value]="mainService" no-padding>{{mainService}} </ion-option>
            <ion-option *ngFor="let service of services" [value]="service" no-padding>{{service}} </ion-option>
          </ion-select>
      </ion-item> 

      <ion-item class="login-Class" *ngIf="!broadcast" >
        <ion-label stacked for="service"></ion-label>
        <ion-input type="text"  disabled="true" 
          id="service" [formControl]= "requestForm.controls['service']"></ion-input>
        <div *ngIf="!requestForm.controls['service'].valid && requestForm.controls['service'].touched"   
          class="alert alert-danger"></div>
      </ion-item>
      
      <ion-item class="login-Class">
        <ion-label stacked for="comment"></ion-label>
        <ion-input type="text"  placeholder="Describe tu servicio" maxlength="140" 
          id="comment" [formControl]= "requestForm.controls['comment']"></ion-input>
        <div *ngIf="!requestForm.controls['comment'].valid && requestForm.controls['comment'].touched"   
          class="alert alert-danger"></div>
      </ion-item> 

      <ion-item class="login-Class">
        <ion-label  floating for="vehicle"></ion-label>
          <ion-input type="text"  placeholder="Vehículo, marca, modelo y placas (opcional)"
            id="vehicle" [formControl]= "requestForm.controls['vehicle']"></ion-input>
          <p *ngIf="!requestForm.controls['vehicle'].valid && requestForm.controls['vehicle'].touched"   
            class="alert alert-danger"></p>
      </ion-item> 

      <br/>
      <ion-item no-lines class=divider>Mi ubicación <br/><p>(opcional)</p></ion-item>
      
      <ion-item class="coords-Class">
        <ion-label for="lat" item-start></ion-label >
        <ion-input type="text"  placeholder="latitud" [(ngModel)]="fetchedLat"
          id="lat" [formControl]= "requestForm.controls['lat']"  ></ion-input>
        <p *ngIf="!requestForm.controls['lat'].valid && requestForm.controls['lat'].touched"   
            class="alert alert-danger"></p>

          <ion-label for="lng"></ion-label>
        <ion-input type="text"  placeholder="longitud"  [(ngModel)]="fetchedLng"
          id="lng" [formControl]= "requestForm.controls['lng']" ></ion-input>
        <p *ngIf="!requestForm.controls['lng'].valid && requestForm.controls['lng'].touched"   
            class="alert alert-danger"></p>
          <button ion-button round type="button" (click)=getMyPos() color="buttons" item-end><ion-icon name="locate"></ion-icon> </button>
      </ion-item>
      <br/>
      <ion-item no-lines class=divider>Imágenes <br/><p>(opcional)</p></ion-item>  
      <ion-item no-padding>
        <ion-grid>
          <ion-row align-items-center>
            <ion-col col-4 align-self-start>
              <input type="file" #fileInput style="visibility: hidden; height: 0px; margin:0px" name="files[]" (change)="processWebImage($event)" />
              <div class="profile-image-wrapper" (click)="getPicture(1)">
                <div class="profile-image-placeholder" *ngIf="!this.requestForm.controls.pic1.value">
                  <ion-icon name="add"></ion-icon>
                </div>
                <div class="profile-image" [style.backgroundImage]='getProfileImageStyle(1)' *ngIf="this.requestForm.controls.pic1.value"></div>
              </div>
            </ion-col>
            <ion-col col-4 align-self-center>
              <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
              <div class="profile-image-wrapper" (click)="getPicture(2)">
                <div class="profile-image-placeholder" *ngIf="!this.requestForm.controls.pic2.value">
                  <ion-icon name="add"></ion-icon>
                </div>
                <div class="profile-image" [style.backgroundImage]="getProfileImageStyle(2)" *ngIf="this.requestForm.controls.pic2.value"></div>
              </div>
            </ion-col>
            <ion-col col-4 align-self-end>
                <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
                <div class="profile-image-wrapper" (click)="getPicture(3)">
                  <div class="profile-image-placeholder" *ngIf="!this.requestForm.controls.pic3.value">
                    <ion-icon name="add"></ion-icon>
                  </div>
                  <div class="profile-image" [style.backgroundImage]="getProfileImageStyle(3)" *ngIf="this.requestForm.controls.pic3.value"></div>
                </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <br/>
      <div text-center padding> 
        <button ion-button block round type="submit" class="ok" [disabled]="!requestForm.valid || spinner == true">Enviar</button>
        <button ion-button block round type="button" class="cancel" (click)="close()" [disabled]="spinner == true">Cancelar</button>
      </div>   
      <br/>
    </form>     
  </ion-list>
</ion-content>
