page-request {

//   spinner * {
//     position: fixed;
//     z-index: 1;
//     align-items: center;
//     justify-content: center;
//     top: 45%;
//     width: 35%;
// }

  button.ok {
    margin-top: 25px;
    background-color: transparent;
    box-shadow: 0px 2px 2px rgba(24, 68, 159, 0.4);
    color: #2653af;
    font-stretch: expanded;
    font: bolder;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }

  button.cancel {
    margin-top: 25px;
    background-color: transparent;
    box-shadow: 0px 2px 2px rgba(159, 24, 24, 0.4);
    color: #af2626;
    font-stretch: expanded;
    font: bolder;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }

  .company-Name{
    h2{
      margin: 1
      0px 10px 10px 10px !important;
      text-transform: uppercase !important;
      text-align: center !important;  
      font-weight: bold;
      color: rgb(87, 81, 81);
    }
  }
  
  .divider{
        background:#ffffff; 
        margin: 0px 0px 0px 0px !important;  
        text-align: center !important; 
        .label-md {
          margin: 0px 0px 0px 0px !important; 
          color: rgb(54, 54, 54); 
        }
        p {
          color: rgb(190, 190, 190);
        }
    }

  ion-row {
    text-align: center !important;
    padding: 0px 0px 0px 0px !important;
  }
 
  ion-col {
    text-align: center !important;
    padding: 0px 0px 0px 0px !important;
    input {
      text-align: center !important;
      padding: 0px 0px 0px 0px !important;
    }
  }
  
  .profile-image-wrapper {
    padding: 0px 0px 0px 0px !important;
    text-align: center !important;
    align-content: center !important;
    margin: auto !important;  
    //margin: 20px 0;
    .profile-image {
      margin: auto !important;  
      padding: 0px 0px 0px 0px !important;
      align-content: center !important;
      text-align: center !important;
      width: 56px;
      height: 56px;
      background-repeat: no-repeat;
      background-size: cover
    }

    .profile-image-placeholder {
    //display: inline-block;
      align-content: center !important;
      padding: 0px 0px 0px 0px !important;
      text-align: center !important;
      background-color: #eee;
      width: 60px;
      height: 60px;
      //border-radius: 50%;
      margin: auto !important;    
      font-size: 12px;
      ion-icon {
        padding: 0px 0px 0px 0px !important;
        font-size: 44px;
        text-align: center !important;
      }
    }
  }
}
