page-login {
    .login-Class{
        color: black;
        background-color: transparent;
        margin: 0px 0px 0px 0px;
        padding-top: 0px;

    }

    .login-List{
        color: black;
        background-color: transparent;
        margin: 0px 0px 0px 0px;
        padding-top: 0px;
    }
    
    .coords-Class{
        color: black !important;
        background-color: transparent;
        margin: 0px 0px 0px 0px;
        padding-top: 0px;
        height: 50px;
    }


    .button-inner{
        padding: 0px 0px 0px 0px !important;
        margin: 0px 0px 0px 0px;
        border-top: 0px !important;
            
    }

    my-Label{
        color:rgb(146, 145, 145) !important;
        height: 255px;
        .md-tabs{
            padding: 0px 0px 0px 0px !important;
            margin: 0px 0px 0px 0px;
            border-top: 0px !important;
            background-color: black;
        }
        
    }
}
