<ion-header>
  <ion-navbar>
    <ion-title>Iniciar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="login-List"> 
    <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <h3>Iniciar sesión</h3>

      <ion-item class="login-Class">
        <ion-label  floating for="email"></ion-label>
        <ion-input type="email"  placeholder="ejemplo@email.com"
          id="email" [formControl]= "loginForm.controls['email']"></ion-input>
          <p *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched"   
            class="alert alert-danger"></p>
      </ion-item> 	
        
      <ion-item class="login-Class">
        <ion-label floating for="password"></ion-label>
          <ion-input type="password"  placeholder="Contraseña" 
            id="password" [formControl]= "loginForm.controls['password']"></ion-input>
          <div *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched"   
            class="alert alert-danger"></div>
      </ion-item> 	
      <br/>
      <div text-center padding> 
        <button ion-button block round type="submit" class="ok" [disabled]="!loginForm.valid">Iniciar</button>
      </div>
    </form>
  </ion-list>
</ion-content>
