page-profile {
    spinner * {
        position: fixed;
        align-items: center;
         justify-content: center;
         z-index: 2;
         top: 35%;
         width: 35%;
     }

     .userData{
         ion-icon{
             color: #5a5a5e !important;
         }
     }
     .edit-pencil{
         margin-top: 10px;
         margin-right: 10px;
         font-size: 28px;
     }

}

