maps-layout-1 {
 
  spinner * {
    position: fixed;
    z-index: 3;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0px;
    top: 34%;
    width: 40%;
}
  .sebm-google-map-container {
    height: 100%;
  }

  [map-header] ion-item {
    text-align: center;
    p {
      color: theme-colors('textColors', 'primary') !important;
    }
  }
  .option-service{
    background-color: white !important;
    position: fixed;
    z-index: 5;
    width: 100% !important;
  }

  .button-inner{
    height: 40px !important;
  }
  .m-service{
    border: 1px solid;
    border-bottom: 1px;
    border-bottom-color: red;
  }
  .m-service li ul{
    border: 1px solid;
    border-bottom: 1px;
    border-bottom-color: #3A1010;
  }

  .requests{
    padding-bottom: 50px;

  }

  .srch{
    ion-icon{
      font-size: x-large !important;
      font-weight: bolder !important;
    }
  }
}
