maps-layout-1 {
  spinner * {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 40%;
    width: 50%;
  }
  
  .sebm-google-map-container {
    height: 100%;
  }

  [map-header] ion-item {
    text-align: center;
    p {
      color: theme-colors('textColors', 'primary') !important;
    }
  }
  .option-service{
    background-color: white !important;
    position: fixed;
    z-index: 5;
    width: 100% !important;
  }

  .button-inner{
    height: 40px !important;
  }
  .m-service{
    border: 1px solid;
    border-bottom: 1px;
    border-bottom-color: red;
  }
  .m-service li ul{
    border: 1px solid;
    border-bottom: 1px;
    border-bottom-color: #3A1010;
  }

  .requests{
    padding-bottom: 50px;
  }
}
