
<ion-content  has-header>
  
  <ion-grid no-padding class="option-service">
    <ion-item style="height:45px" class="option-service" > 
      <ion-label for="services"><ion-icon  item-left name="build"></ion-icon>Servicios</ion-label>
      <ion-select id="services" requiered  [(ngModel)]="selectedService" 
      (ionChange)="svcSelected()" 
      multiple="true" 
      cancelText="Atras">
        <ion-option *ngFor="let mainService of mainServices" [value]="mainService">{{mainService}} </ion-option>
        <ion-option *ngFor="let service of services | orderBy : '+'" [value]="service">{{service}} </ion-option>
      </ion-select>
    </ion-item>
  </ion-grid>
  
  <sebm-google-map [latitude]="mapData.lat" [longitude]="mapData.lng" [zoom]="mapZoom" [mapTypeControl]=true [streetViewControl]=true>
    <sebm-google-map-marker *ngFor="let supplier of suppliers"  
      [latitude]="supplier.lat" 
      [longitude]="supplier.lng" 
      [label]="supplier.markLabel"
      (markerClick)="onEvent('onMarker',supplier)"
      [iconUrl]="'../assets/mapicons/'+supplier.map_icon">
    </sebm-google-map-marker>
    <sebm-google-map-marker [iconUrl]="userData.userPos.iconUrl" [latitude]="userData.userPos.lat" [longitude]="userData.userPos.lng"></sebm-google-map-marker>
  </sebm-google-map>
  
  <ion-fab bottom left>
      <button ion-fab color="locate" mini><ion-icon name="md-locate"></ion-icon></button>
    </ion-fab>

</ion-content>
