
<ion-content padding>
  <h2><ion-icon name="pricetag"></ion-icon> Propuesta</h2>
  <ion-list >
    <form id="prslForm" [formGroup]="proposalForm" (ngSubmit)="onSubmit(proposalForm.value)">
      
      <ion-item class="login-Class">
        <ion-label class="price">$</ion-label>
        <ion-label  floating for="price"></ion-label>
        <ion-input type="number"  placeholder="Costo en $MXN" clearInput="true"
          id="price" [formControl]= "proposalForm.controls['price']"></ion-input>
          <p *ngIf="!proposalForm.controls['price'].valid && proposalForm.controls['price'].touched"   
            class="alert alert-danger"></p>
      </ion-item>

      <ion-item class="login-Class">
        <ion-label floating for="time"></ion-label>
        <ion-input type="text"  placeholder="Tiempo estimado" name="time" clearInput="true" maxlength="120"
          id="time" [formControl]= "proposalForm.controls['time']"></ion-input>
          <p *ngIf="!proposalForm.controls['time'].valid || (proposalForm.controls['time'].touched && !proposalForm.controls['time'].pending)"   
            class="alert alert-danger"></p>
      </ion-item>

        <ion-item class="login-Class">
          <ion-label  floating for="comments"></ion-label>
          <ion-textarea type="text"  placeholder="Comentarios" maxlength="120"
            id="comments" [formControl]= "proposalForm.controls['comments']" name="comments"></ion-textarea>
            <p *ngIf="!proposalForm.controls['comments'].valid && (proposalForm.controls['comments'].touched)"   
              class="alert alert-danger"></p>
        </ion-item>

        <br/><br/>
        <div text-center padding>  
            <button ion-button block round type="submit" color="submit" class="ok" [disabled]="!proposalForm.valid">Enviar</button>
            <button ion-button block round type="button" color="submit" class="cancel" (click)=closeView()> Cancelar </button>
        </div>   
        <br/>

    </form>
  </ion-list>





</ion-content>
