page-provider-proposal {

  spinner * {
    position: fixed;
    z-index: 1;
    align-items: center;
    justify-content: center;
    top: 45%;
    width: 35%;
  }

  h2 {
      text-align: center;
      color: rgb(70, 68, 68);
      font-weight: bolder;
      font-size: 14px;
      
  }

  button.ok {
      margin-top: 25px;
      background-color: transparent;
      box-shadow: 0px 2px 2px rgba(24, 68, 159, 0.4);
      color: #2653af;
      font-stretch: expanded;
      font: bolder;
  
      &.activated {
        background-color: rgb(220, 220, 220);
      }
    }
  button.cancel {
    margin-top: 25px;
    background-color: transparent;
    box-shadow: 0px 2px 2px rgba(159, 24, 24, 0.473);
    color: #af2626;
    font-stretch: expanded;
    font: bolder;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }
 
  .price {
      font-weight: bold;
      color: rgb(92, 85, 85) !important;
  }

}
