<ion-content no-padding>
  <ion-header>
    <ion-buttons end icon-only><button ion-button icon-only clear small  (click)="close()">
      <ion-icon name="close" float-right style="color:white"></ion-icon>
    </button></ion-buttons>
  </ion-header>
  
  <spinner [data]="params.data" *ngIf="spinner"></spinner>


  <div card-image class="title-style">
    <!-- <img images-filter src={{data.img}}> -->
    <ion-card-header no-padding>
      <ion-grid>
        <ion-row align-items-center >
            <ion-col col-3 align-self-end><div text-right>
              <img [src]="'assets/servicons/'+data.map_icon"> 
            </div> 
            </ion-col>
            <ion-col col-9> <h1 >{{data.company_name}}</h1>  
              <rating style= "text-align:center" [(ngModel)]="data.ranking"
                readOnly="false"
                max="5"
                emptyStarIconName="star-outline"
                halfStarIconName="star-half"
                starIconName="star"
                nullable="false" 
                (ngModelChange)="onRatingChange($event)"></rating></ion-col>
          </ion-row>
      </ion-grid>
      <h2>{{data.service}}</h2>
      <!-- <p>{{data.specialty}}</p> -->
    </ion-card-header>
  </div>

<div class="supplier-data">
  <ion-grid>
    <ion-row>
      <ion-col col-2 class="provider-data">
        <ion-icon item-left name="pin"></ion-icon>
      </ion-col>
      <ion-col class="text-desc">
        <p no-margin maps-description>{{data.address}}</p>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-2 class="provider-data">
        <ion-icon item-left name="clock"></ion-icon>
      </ion-col>
      <ion-col class="text-desc">
        <p no-margin maps-description>{{data.schedule}}<p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-2 class="provider-data">
        <ion-icon item-left name="call"></ion-icon>
      </ion-col>
      <ion-col class="text-desc">
        <p no-margin maps-description (click)=makeACall(data.aditional_phone)>{{data.aditional_phone}}<p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-2 class="provider-data">
        <ion-icon item-left name="logo-dribbble"></ion-icon>
      </ion-col>
      <ion-col class="text-desc">
        <p no-margin maps-description>{{data.website}}<p>
      </ion-col>
    </ion-row>

    <p class="specialty"> {{data.specialty}}</p>

    <ion-chip (click)="navigate([data.lat,data.lng])" class="ok" >
      <ion-label>Navegar</ion-label>
      <ion-icon class ="ok" name="navigate"></ion-icon>
    </ion-chip>

    <!-- <ion-row>
      <ion-col col-2>
        <ion-icon item-left>
          <i class="icon icon-email-outline"></i>
        </ion-icon>
      </ion-col>
      <ion-col>
        <p no-margin maps-description>{{data.email}}<p>
      </ion-col>
    </ion-row> -->
    <br/><br/><br/><br/>
  </ion-grid>
  <ion-fab #fab bottom right *ngIf="!isOwner && data.is_active==2">
    <button button-ion-fab ion-fab mini (click)="request()">
        <ion-icon name="pricetag"></ion-icon>
    </button>
  </ion-fab>
  

</div>

</ion-content>

