page-supplier-detail {
    
    .provider-data{
        ion-icon{
            font-size: 23px;
        }
    }
    
    h2{
        font-size: medium;
        text-align: center !important;
    }

    ion-header{
        padding: 0px 0px 0px 0px;
        margin: auto;
        height: 35px;
        background:linear-gradient( #790314,#c7172f);
        color: white;
    }

    ion-card-header h1{
        text-transform: uppercase;
        font-size: 14;
        font-synthesis: bold;
        text-align: center;
        margin-top:1px !important; 
    }
    .specialty{
        text-align: center;
        color: grey;
        font-style: italic !important;
        font-size: small !important;
    }

    .supplier-data{
        margin-top: 15px;
        padding-left: 5px;
        padding-right: 5px;
        color: #26292C;
    }

    .title-style{
        //background-color: rgba(38, 84, 175, 0.5);
        // background:linear-gradient( #ffffff,#508edf); 
        background: linear-gradient(to bottom, #fcfcfc, #fdfdfd, #ffffff, #dbedfc, #185bda);
        margin: 1px, 2px;
    }
    .title-style h1{
        color: rgb(82, 79, 79) !important;
        font-size: larger;
        font-weight: 700;
        height: 0px;
        margin: 10px 10px 20px 10px
    }
    .title-style h2{
        color: white !important;
        margin-left: 10px;
        
    }
    .title-style ion-card-header {
        border-top: 0px;
        padding-top: 55px;
    }

    .text-desc{
        margin-top:8px !important;
    }
    ion-card-header rating {
        font-size: smaller;
        letter-spacing: 0px;
        word-spacing: -20px;
        margin: 0px 0px 0px 0px
    }

    ion-card-header p {
        font-size: smaller;
        margin-left: 10px;
        text-transform: uppercase;
    }


    ul {
        padding: 0px;
        &.rating li {
          padding: 0px 0px !important;
          background: none;
        //   color: rgb(255, 247, 0);
          color: rgb(102, 102, 102);
          letter-spacing: 0px;
          word-spacing: -10px;
          size: 130px;
       
          ion-icon {
            font-size: 20px;
          }
        }
      }
    .custom-icon {
    font-size: 25px !important;
    color : #3A83E2;
    } 
    
    .ok{
        // margin-top: 25px;
        background-color: transparent;
        box-shadow: 0px 2px 2px rgba(24, 68, 159, 0.4);
        color: #2653af;
        font-stretch: expanded;
        font: bolder;
    
        &.activated {
          background-color: rgb(220, 220, 220);
        }
    }
}
