spinner {
    .cont{
        background: rgba(78, 23, 23, 0.514);
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 0 0 0;
        width: 920px;
        height: 1280px;
        top: 0px;
        left: 0px;

    }
}
    