<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis Solicitudes  </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
<spinner [data]="params.data" *ngIf="spinner"></spinner>

<ion-list> 
  <ion-item-group reorder="true">
    <button detail-push  ion-item  *ngFor ="let group of userGRequests" class= "service-list"  (click)="showRequests(group)">
      <img item-start  [src]="getIconService(group.title)"> 
      {{group.title}}
      <ion-badge item-end color="base">{{group.requests.length}}</ion-badge>
    </button>
  </ion-item-group>
</ion-list>

</ion-content>


