page-user-requests {
    
    spinner * {
       position: fixed;
       align-items: center;
        justify-content: center;
        z-index: 1;
        top: 35%;
        width: 35%;
    }
   ion-item-sliding .input-wrapper{
        margin: auto !important;
        border-bottom: 0px !important;
        border-top: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    ion-icon.detail{
        color: #2653af;
    }
    .sts-btn {
        background-color: transparent !important;
        box-shadow: none;
    }
    .icon-badge {
        margin-right: 1.0rem;
        z-index: 5;
    }
    .badge-icon {
        position: absolute;
        top: -0.1rem;
        right: -0.0rem;
    }
    .service-list{
        img { 
            height: 30px;
            margin-right: 40px !important;
            margin-left: 20px !important;
        }
        ion-badge {
            background-color: #2653af;
        }
    }
    
}
