<ion-content>
  <spinner [data]="params.data" *ngIf="spinner"></spinner>
  <div class="list-avatar-page">  
    <ion-list #requestList>
      <ion-list-header> 
        <ion-icon name="list-box"></ion-icon>
        <strong>Mis Solicitudes</strong></ion-list-header>
        <ion-item-sliding *ngFor="let uRequest of userRequests" #slidingItem>
          <ion-item>
            <ion-grid>
              <ion-row align-items-center>
                <ion-col col-4 align-self-center>
                  <img [src]="getIconService(uRequest.service)">
                </ion-col>
                <ion-col col-8>
                    <h2>{{uRequest.service}}</h2>
                    <p>{{uRequest.created_at | date: 'dd-MM-yyyy'}}</p> 
                    <p>{{uRequest.created_at | date: 'h:mm - a'}}</p> 
                  <div text-right>
                    <button ion-button only-icon clear>
                        <ion-icon name="eye" (click)="showDetail(uRequest, $event)"></ion-icon>
                    </button>
                    <button ion-button only-icon clear>
                      <ion-icon name="pricetag" class="icon-badge"></ion-icon> 
                      <ion-badge class="badge-icon" [color]="getDataSts(uRequest.status,'color')">{{getDataSts(uRequest.status,'char')}} </ion-badge>
                    </button>
                  </div>  
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item-options>  
            <button ion-button expandable color="danger" (click)="delete(slidingItem, uRequest.id)">
              <ion-icon name="trash"></ion-icon>
              Eliminar
            </button>
          </ion-item-options>
        </ion-item-sliding>
    </ion-list>  
  </div>
</ion-content>


