<ion-content >
  <spinner [data]="params.data" *ngIf="spinner"></spinner>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>Actualizando...</ion-refresher-content>
  </ion-refresher>
  
  <div class="list-avatar-page">
    <ion-list >
    <ion-list-header>
      <ion-icon name="build"></ion-icon>
      <strong>Mis Servicios</strong></ion-list-header>
      <ion-item *ngFor="let provider of userServices">
        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <img [src]="'../../assets/servicons/'+provider.map_icon">
            </ion-col>
            <ion-col col-8>
              <h2>{{provider.company_name}}</h2>
              <p>{{provider.service}}</p>
              <div text-right>
                <button ion-button only-icon clear> <ion-icon name="eye" (click)="showDetail(provider, $event)"></ion-icon></button>
                <button ion-button only-icon clear> <ion-icon name="create"(click)="editDetail(provider, $event)" ></ion-icon></button>
                <button ion-button only-icon clear (click)="showRequests(provider.providers_requests, provider.company_name)" > 
                  <ion-icon name="pricetags" class="icon-badge"></ion-icon> 
                  <ion-badge class="badge-icon" *ngIf="provider.providers_requests.length!=0" >{{provider.providers_requests.length}}</ion-badge> 
                </button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
  
  <ion-fab #fab bottom right>
    <button button-ion-fab ion-fab (click)="addProvider($event)">
        <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  
</ion-content>